<footer class="text-center text-white" style="background-color: #4b0082; padding: 15px; font-size: 14px;">
    <div class="container pb-2">
        <section>
            <form action="">
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <div class="col-md-5 col-12">
                        <div class="form-outline mb-2">
                            <input type="email" id="form5Example26" class="form-control" />
                            <label class="form-label" for="form5Example26">Email address</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-light btn-sm">
                            Subscribe
                        </button>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="text-center pt-2" style="background-color: rgba(0, 0, 0, 0.1);">
        &copy; 2025 Online Appliance Store. All Rights Reserved.
    </div>
    <div class="mt-2">
        <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a>
        <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
    </div>
</footer>