<app-header setcounter={{countervalue}}></app-header>

<div class="container">
    <!-- Currency Dropdown -->
    <div class="row mt-3">
        <div class="col d-flex justify-content-end">
            <select [(ngModel)]="selectedCurrency" (change)="updateCurrency($event)">
                <option value="USD">USD ($)</option>
                <option value="EUR">EUR (€)</option>
                <option value="GBP">GBP (£)</option>
            </select>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <div class="card" >
                {{counter}}
              <div class="card-body">
                <li class="d-inline p-2"><button class="btn btn-danger"><span class="text-white">Back to Main Menu</span></button></li>
                 <div class="row  mt-3">
                    <div class="col-sm-10 col-8 col-lg-10">
                        <h5 class="alert alert-primary ">{{data.title}} </h5>
                        <ul class="list-unstyled">
                            <li class=" p-2">{{data.description}}</li>
                            <li class=" p-2"><span class="badge bg-danger text-white">{{data.price}} USD</span></li>
                        </ul>
                    </div>
                   
                 </div>
                 <div class="row">
                    <div class="col d-flex justify-content-center">
                        <img src={{data.image}} width="200" height="200">
                     </div>
                 </div>
                 <div class="row mt-3">
                    <div class="col d-flex justify-content-center">
                        <ul class="list-unstyled">
                            <li class="d-inline p-2"><button class="btn btn-danger"><span class="text-white" (click)="increment()">Add to Cart</span></button></li>
                            
                            <li class="d-inline p-2"><button class="btn btn-danger"><span class="text-white" (click)="decrement()">Remove</span></button></li>

                            <li class="d-inline p-2"><button class="btn btn-success"><span class="text-white">Buy Now</span></button></li>
                        </ul>
                    </div>
                 </div>
              </div>
            </div>
        </div>
    </div>
</div>

<p></p>
<div class="row">
    <p></p>
    <div class="row">
        <p></p>
        <div class="row">
            <p></p>
        </div>
    </div>
</div>

<app-footer></app-footer>